

body, html {
  height: 100%;
  display: grid;
}

.viewer {
    margin: auto;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align:middle;

    margin: 0px auto;
    float: none;
}

table, th, td {
    border: 1px solid black;
}

td > img {
  max-width: 100%;
}
